.square{
    background-color: rgb(196, 187, 187);
     width: 150px;
     height: 150px;
     border-radius:4px ;
     margin: 10px;
     /* line-height:200px; */
     /* text-align: center; */
     font-size: 110px;
}